@import "tailwindcss";
@import "@heroui/styles";

:root, [data-theme="light"], .light, [data-theme="dark"], .dark {
  --background: #ffffff !important;
  --foreground: #171717 !important;
  --slider-bg: #f8fafc !important; 
  --slider-text: #0f172a !important;
  --slider-desc: #334155 !important;
  --slider-overlay: linear-gradient(to right, rgba(248, 250, 252, 0.95) 0%, rgba(248, 250, 252, 0.6) 40%, rgba(248, 250, 252, 0) 70%) !important;
  
  --color-background: #ffffff !important;
  --color-foreground: #171717 !important;
  

  color-scheme: light !important;
}

html, 
body, 
main, 
#root,
div[data-slot="base"],
div[data-slot="wrapper"] {
  background-color: #ffffff !important;
  background: #ffffff !important;
  color: #171717 !important;
  font-family: Arial, Helvetica, sans-serif;
  transition: none !important; 
}

.custom-hero-swiper .swiper-button-next,
.custom-hero-swiper .swiper-button-prev {
  color: #3b82f6 !important;
  background: rgba(15, 23, 42, 0.6);
  backdrop-filter: blur(4px);
  width: 45px;
  height: 45px;
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.1);
}

.custom-hero-swiper .swiper-button-next:after,
.custom-hero-swiper .swiper-button-prev:after {
  font-size: 18px !important;
  font-weight: bold;
}

.custom-hero-swiper .swiper-pagination-bullet-active {
  background: #3b82f6 !important;
  width: 24px !important;
  border-radius: 4px !important;
}